#container {
    display: grid;
    margin: 0px;
    min-height: 120vh;
    grid-template-columns: 20% 60% 20%;
    column-gap: 5px;
    row-gap: 5px;
    box-shadow: inset;
    grid-template-areas:
        'hd hd as'
        'sc sc as'
        'ft ft nv';
}

a {
color: #3498db;
font-weight: bold;
}


.rubrik {
    text-shadow: 4px 4px 8px #ffa500;
    animation: pulse 3s ease-in-out infinite;
}

body {
    margin: 0;
    min-height: 100vh;
    background-attachment: scroll;
    background-position: center;
  }

header {
    grid-area: hd;
    background-color: black;
    border-radius: 15px;
}

nav {
    display: flex;
    grid-area: nv;
    gap: 20px;
    justify-content: center;
    background-color: rgba(192, 0, 0, 0.438);
    border-radius: 15px;
}

section {
    grid-area: sc;
    background-color: #3498db;
    border-radius: 15px;
    color: black;
}

aside {
    grid-area: as;
    background-color: red;
    background-image: url(/img/Vampyrer\ Image\ 16\ okt.\ 2025\ 13_36_40.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    text-align: center;
}

footer {
    grid-area: ft;
    border-radius: 15px;
    background-color: fuchsia;
    text-align: center;
}

h1 {
    text-align: center;
    color: #ffa500;
}

h2 {
    color: white;
}