#container {
    display: grid;
    margin: 0px;
    min-height: 120vh;
    grid-template-columns: 20% 60% 20%;
    column-gap: 2px;
    row-gap: 2px;
    box-shadow: inset;
    grid-template-areas:
        'hd hd nv'
        'sc sc as'
        'sc sc as'
        'ft ft ft';
}

#container2 {
    
}

.datorbild {
    height: 200px;
    display: block;
    align-content: center;
    margin: auto;
}

a {
    color: yellow;
    font-weight: bold;
}


.line {
    border-bottom: 1px solid #888;
}

.rubrik {
    text-shadow: 4px 4px 8px #ffa500;
    animation: pulse 3s ease-in-out infinite;
}

body {
    margin: 0;
    min-height: 100vh;
    background-attachment: scroll;
    background-position: center;
}

header {
    grid-area: hd;
    background-color: black;
}

nav {
    display: flex;
    grid-area: nv;
    gap: 20px;
    justify-content: center;
    background-color: #3498db;
}

section {
    grid-area: sc;
    background-color: #3498db;
    color: black;
}

aside {
    grid-area: as;
    background-color: #3498db;
    background-image: url(/img/Vampyrer\ Image\ 16\ okt.\ 2025\ 13_36_40.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

footer {
    grid-area: ft;
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    color: #ffa500;
}

p {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

li {
    color: antiquewhite;
}